@(id:Long , formulario :Form[Resposta])

@import helper._

<style>

.formulario{
  margin-left: 400px;
  margin-top:90px;
  background-color:  #03a9f4  ;
  width: 350px;
  height: 200px;
  padding: 80px;
  border-radius: 10px;
  font-size: 17px;

}
.formulario input{
    padding: 5px;
}

h2{
  margin-left: 500px;
}

</style>

@main("Adicionar resposta"){
  <h2>Adicionar resposta</h2>
  @form(routes.QuestaoController.salvarRespostaAluno(id)){
  <div class="formulario">
        @textarea(formulario("resposta"), args = 'rows -> 3, 'cols -> 32,'_showConstraints ->false,'_label ->"Resposta :")
        <input type="submit" value="Salvar" />
  </div>
  }

}
